@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");
@import url("http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,900,400,300");
@import url("https://fonts.googleapis.com/css?family=Tangerine:400,700");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Exo:wght@300;400&display=swap");

:root {
	--color-primary: #85496c;
	--color-secondary: #303944;
	--color-bg-primary: #f9f8f7;
	--color-bg-secondary: #ffffff;
	--color-elements-secondary: #f3bb32;
}

body {
	width: 100%;
	min-height: 100vh;

	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* font-family: "Cormorant Garamond", serif; */
	font-size: 14px;
	color: #222;
}

.App,
#root {
	width: 100%;
	min-height: 100%;

	margin: 0;
	padding: 0;

	overflow-x: hidden;
}

* {
	margin: 0;
	box-sizing: border-box;
}

h1 {
	font-weight: 700;
	font-family: "Arial", sans-serif;
	font-size: 48px;
	text-transform: uppercase;
}
h2 {
	font-weight: 700;
	font-size: 42px;
	font-family: "Arial", sans-serif;
	color: #222222;
}
h3 {
	font-weight: 300;
	font-size: 36px;
	font-family: "Arial", sans-serif;
}
h4 {
	font-weight: 600;
	font-size: 32px;
	font-family: "Arial", sans-serif;
}
h5 {
	font-weight: 700;
	font-size: 28px;
	font-family: "Arial", sans-serif;
}
h6 {
	font-weight: 600;
	font-size: 24px;
	font-family: "Arial", sans-serif;
}
p {
	font-family: "Cormorant Garamond", serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
}

a {
	text-decoration: none;
}
li {
	list-style: none;
}
a .img {
	border: none;
}
a {
	transition: background-color 0.5s ease;
	transition: color 1s;
	-webkit-transition: color 1s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
a:hover {
	transition: background-color 0.5s ease;
}

button::-moz-focus-inner {
	border: 0;
}
